<section>
    <h1 class="text-center">Notre politique</h1>
    <br>
    <h3 class="text-center">Un moment hors du commun</h3>
    <br>
    <p class="text-center fs-6">Chez Ticia Coiff, nous sommes dédiés à offrir un service de coiffure à domicile exceptionnel à nos clients.<br> Notre
        politique est conçue pour garantir la meilleure expérience possible, tout en assurant la satisfaction de nos
        clients et le respect de leur vie privée. Voici notre politique détaillée :
        <br>
        <br>
        - Services : Nous proposons une gamme complète de services de coiffure à domicile, incluant coupe, coloration,
        soins capillaires, etc.
        <br>
        <br>
        - Réservation : Les réservations peuvent être faites en ligne ou par téléphone, avec préavis d'annulation de 24
        heures.
        <br>
        <br>
        - Confidentialité : Nous protégeons la vie privée de nos clients et ne partageons pas leurs informations sans
        consentement.
        <br>
        <br>
        - Hygiène : Nous maintenons des normes d'hygiène strictes pour assurer la sécurité de nos clients et de nos
        coiffeurs.
        <br>
        <br>
        - Tarification : Les tarifs sont clairement indiqués et le paiement peut être effectué en espèces ou par carte
        de crédit.
        <br>
        <br>
        - Commentaires : Nous encourageons les commentaires et les réclamations pour améliorer nos services.
        <br>
        <br>
        - Annulation : En cas d'annulation de notre part, nous reprogrammons ou remboursons intégralement le client.
        <br>
        <br>
        Cette politique de Ticia Coiff a été conçue pour fournir des services de coiffure à domicile de qualité, tout en
        garantissant la satisfaction et la tranquillité d'esprit de nos clients.<br> Si vous avez des questions ou des
        préoccupations, n'hésitez pas à nous contacter.<br> Nous sommes impatients de prendre soin de vos cheveux dans le
        confort de votre domicile.
    </p>
</section>