<section>
    <br>
    <h2 class="text-center">Nos formules</h2>
    <br>
</section>
<section>
    <div class="card-group">
        <div class="card text-center">
            <img src="/images/testservice.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Coupe</h5>
            </div>
        </div>
        <div class="card text-center">
            <img src="/images/testservice.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Coloration</h5>
            </div>
        </div>
        <div class="card text-center">
            <img src="/images/testservice.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Coiffure</h5>
            </div>
        </div>
    </div>
</section>